body{

font-family:'Poppins', sans-serif;
}


h1{
font-size:25px;
}


.name{
color:Orange;
}

.half-width{
 width:40%;
 float:left;

}

.half-width img{
width:250px;
}

.tp-banner{

  background-image: url("image/20211220_185027.jpg");
  background-size:220px;
  background-repeat:no repeat;
}

section{
 height:400px;

}

.link-button{

text-decoration:none;
background-image:linear-gradient(lightsalmon,tomato);
color:white;
padding:10px 20px;
border-radius:8px;
font-weight:700;

}


.right-half-width{

width:40%;
float:right;
}
.right-half-width img{
width:200px;
float:right;
}

.chart{
float:left;

}

h2{
color:blue;
}






